hr{
    margin-block-start: 0;
    margin-block-end: 0;
    margin: 0;
}

.user-img{
    width: 50%;
    height: auto;
    max-width: 160px;
    min-width: 140px;
    display: block;
    margin: auto;
}

.heading{
    font-size: larger;
    font-weight: bold;
}

.text-center{
    text-align: center;
}
.fol-row{
    border-bottom: 2px black solid;
    width: 80%;
    padding: 10px;
    margin: auto;
}

/* .profile-img{
    width: 50%;
    height: auto;
    max-width: 80px;
    min-width: 50px;
} */

.main-nav-items{
    list-style: none;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.main-nav{
    display: flex;
    background-color: black;  
    padding: 10px;
    position: sticky;
    top: 0;
    z-index: 5;
}
.search-nav{
    display: none;
    margin-left: 3rem;
    width: calc(100vw - 23.625rem);
    color: white;
}
.search-nav:hover{
   color: red;
}

.nav{
    display: none;
    justify-content: flex-end;
}

ul{
    margin: 0;
}

.main-nav-item{
    padding: 10px 20px 10px 20px;
    color: white;
}

li{
    margin-right: 5px;
}



.link{
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    color: #007bff;
    /* color: rgb(124, 165, 241); */
}
.link:hover{
    margin: 5px;
    display: inline-block;
    cursor: pointer;
    color: #0a58ac;
}

.flex-center{
    display: flex;
    justify-content: center
}

.col-flex{
    margin-left: 10px
}

.repos-col{
    padding: 10px;
}

.repo{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 20px;
    border: grey 1px solid;
    padding-top: 0;
    padding-left: 0;
    height: 144px;
    position: relative;
}

.flex{
    position: absolute;
    width: 100%;
    bottom: 0;
    margin-top: 20px;
    display: flex;
    align-items: baseline;
    justify-content: space-between
}

.left-p-10{
    padding: 0 0 0 10px;
}
.rl-p-10{
    padding: 0 10px 0 10px;
}

.java{
    color: green;
}

.javascript{
    color: blue;
}

.html{
    color: red;
}

.c{
    color: pink;
}

.python{
    color: yellow;
}

.user-col{
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.margin-left-5{
    margin-left: 5px;
}

.disp-block{
    display: block;
}

.shell{
    color: orange;
}

.R{
    color: orchid;
}


@media (min-width: 770px){
    .user-col{
        margin: 0;
        align-items: initial;
    }
}

.backdrop{
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    background-color: rgb(0, 0, 0, 0.2);
    display: none;
    z-index: 9;
}

.toggle-button-div{
    width: 80%;
}
.toggle-button{
    width: 3rem;
    background: transparent;
    border: none;
    cursor: pointer;
    padding-top: 0;
    padding-bottom: 0;
    vertical-align: middle;
    background-color: black;
    margin-left: 0.5rem;
}

.toggle-button__bar{
    width: 100%;
    height: 0.2rem;
    background: white;
    display: block;
    margin: 0.4rem 0;
}

.mobile-nav{
    display: none;
    background-color: black;
    position: fixed;
    z-index: 10;
    height: 100vh;
    width: 55%;
    padding: 20px;
}

.mob-nav-items{
    list-style: none;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.mob-nav-item{
    padding: 25px;
}

.mob-nav-item a{
    color: white;
}


.mob-nav-item a:hover{
    color: red;
}

.open-block{
    display: block;
}

.not-visible{
    visibility: hidden;
}
.visible{
    visibility: visible;
}

@media (min-width: 500px){
    .toggle-button-div{
        display: none;
    }

    .search-nav{
        display: block;
    }

    .nav{
        display: flex;
    }

    .main-nav-item:hover,
    .active{
        background-color: white;
        color: black;
    }
}
